* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2, p {
color: rgb(2, 2, 74);
}

h1 {
  font-size: 50px;
  color: rgb(2, 2, 74);
}

a {
  color: rgb(2, 2, 74);
}

/* nav menu------------------------------------ */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  background-color: rgb(69, 69, 69);
  margin-left: -10px;
}

header nav ul {
  margin-right: 100px;
}

header nav a {
  color: aqua; 
}

.title-name{
  background-color: aqua;
  margin-left: 10px;
 
  padding-right: 10px;
  padding-left: 100px;
}

/* Hero Banner ---------------------------------- */


.hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 0px;
  margin-top: -80px;
  background: linear-gradient(rgba(0, 213, 255, 0.453), rgba(0, 170, 255, 0.5)), url("../images/02-hero-bg.jpg");
  background-size: cover; 
  background-repeat: no-repeat;   
  background-position: center center;   
  min-height: 300px;
  margin-top: 0px;
}

.hero-banner h2 {
  font-size: 50px;
  margin-right: 100px;
  color: (2, 2, 74);
  background-color: aqua;
  padding-left: 10px;
  padding-right: 10px;
}

.my-photo img {
  max-width: 70%;   
  height: auto;       
  border-radius: 40px; 
  margin-left: 80px;
  margin-top: 10px;
  padding-bottom: 5px;
  border: 4px solid aqua;
}

/* about me --------------------------------------- */

.about-me {
  display: flex;
  align-items: start;
}

.about-me p {
  flex-grow: 1;
  max-width: 100%;
}

.about-me h2 {
  width: 500px;
  font-size: 50px;
}

/* ---------Grid with photos to websites----------------- */

.page-section {
  display: flex;
  align-items: start;
}

.page-section h2 {
  width: 500px;
  font-size: 50px;
}

.big-image {
  width: 100%;
  position: relative;
  display: block;
  height:auto;
}

.big-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 4px solid aqua;
}

.image-2, .image-3, .image-4, .image-5 {
  position: relative;
  width: 50%;
  margin: 0;
  padding: 0;
  border: rgb(25, 126, 166);
}

.grid-line-1, .grid-line-2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.grid-line-1 img, .grid-line-2 img {
  width: 100%;
  height: 100px;
  max-height: 250px;
  object-fit: cover;
  border: 4px solid aqua;
}

.image-2, .image-4 {
margin-right: 5px;
}

.image-3, .image-5 {
  margin-left: 5px;
}

.portfolio-links {
  flex-grow: 1;  
  margin: 0 100px;  
}

.work-label {
  position: absolute;
  bottom: 10px;   
  left: 10px;
  transform: none !important;
  color: rgb(2, 2, 74);
  font-weight: bold;
  background-color:aqua;
  padding: 5px;
  border-radius: 3px;
}

/* contact me --------------------------------------- */

.contact-me {
  display: flex;
  align-items: start;
  margin-top: 20px;
}

.contact-me h2 {
  font-size: 50px;
  width: 100%;
  margin-right: 20px;
}

.contact-items {
  display:flex;
  justify-content:center;
  justify-content: space-around;
  padding: 5px;
  margin-top: 40px;
  flex-grow: 1;
  max-width: 100%;
  
  align-items: start;

}

.contact-items {
  flex: 2; 
  margin-left: 0; 
  margin-right: 100px;
  padding-left: 40px;
 
  flex-wrap: wrap;
}

/* ------------Multiple sections elements--------------------------- */

.page-section h2, .about-me h2, .contact-me h2 {
  flex: 1; 
  font-size: 50px;  
  padding-right: 20px; 
  margin-right: 20px; 
  height: 80px; 
  line-height: 80px;
  margin-left: 100px;
}



.about-me p, .portfolio-links{
  flex: 2;
  margin-left: 0;
  margin-right: 100px;
  padding-left: 40px;
  border-left: 2px solid rgb(2, 2, 74);
  flex-wrap: wrap; 
  
}

@media (min-width: 768px) {

}